body{
	background: linear-gradient(
		rgba(66,189,185,0.45),
		rgba(66,189,185,0.45)
	),url('../img/training.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position-x: center;
	color: white;
}

/*Landing Page*/

.land_content {
	min-width: 490px;
	opacity: 0.95;
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	padding: 30px;
}

/*Stocks*/

#query {
	font-weight: bold;
	text-transform: uppercase;
}

#stockTimestamp:before {
	content: attr(dash-before);
}

#stockTimestamp {
	color: #9e9e9e;
}

#stockPrice {
	font-size: 48px;
	padding-right: 5px;
}

.posnum{
  color:#64dd17;
}

.negnum{
  color:#f44336;
}

.main-content {
	color: #424242;
	display: none;
	float: left;
	position: relative;
	width: 100%;
}

footer {
	z-index: 1;
	left: 0;
	bottom: 0;
	width: 100%;
	opacity: 0.0;
}

.bot {
	margin-right: 10px;
	margin-bottom: 10px;
}

/*Sidebar*/
/*Keep on top */

.sidebar {
	color: #424242;
	display: none;
	float: left;
	opacity: 0.95;
	padding-top: 15px;
	margin-left: 30px;
	position: absolute; /*changed from fixed*/
	left: 590px;
  /*right: 30px;*/
  /*top: 208px;*/
  width: 340px;
  overflow: hidden;
  z-index: -1;
}

.stock-card {
  min-height: auto;
  max-height: 200px;
  overflow: hidden;
}

.chip {
	margin-bottom: 5px;
	margin-right: 5px;
	font-size: 12px;
}

/*NYT Article Results*/

.results {
	max-width: 560px;
}

#articles {
	float: left;
	padding-top: 15px;
}

.article-card {
	color: #424242;
	opacity: 0.00;
	padding: 15px;
	animation: stretch 0.5s;
}

@keyframes stretch {
	0% {
		transform: scale(.1);
	}
	100% {
		transform: scale(1.0);
	}
}

#article-date {
	color: #9e9e9e;
	padding-bottom: 8px;
}

.article-byline {
	padding-top: 15px;
}

.article-text{
	color: black;
	font-size: 100%;
	padding-top: 15px;
	overflow: auto;
}

/*Media Queries*/

@media screen and (max-width: 989px){
	body{
		background-size:cover;
	}

	.sidebar {
		position: relative;
		margin: 0;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
	}

	.results {
		min-width: 100%;
	}
}

@media screen and (max-width:760px){

}

@media screen and (max-width:640px) and (min-width: 1px) {
	.land_content {
		min-width: auto;
	}
}