.body_content{
	margin-top:150px;
}

.jumbotron{
	opacity:0.65;
	margin-top:150px;
}

.input-field label{
	color: white;
}

.input-field input[type=text]:focus {
     border-bottom: 1px solid white;
     box-shadow: 0 1px 0 0 #fff;
   }

.content{
	background-color:white;
	color: teal;
}

body{
	background:
	linear-gradient(
		rgba(66,189,185,0.45),
		rgba(66,189,185,0.45)
	),
	url(training.jpg);
	background-size:cover;
	background-position-x: center;
	color:white;
}

.artcard{
	opacity:0.75;
	border-width: 3px;
	border-color: #4489BC;
	padding: 20px;
}

.nytext{
	color: black;
	font-size: 100%;
	overflow: auto;
}

.rectext{
	color: black;
	font-size: 100%;
	overflow: auto;

}

.nytitle{
	color: black;
}

.keytitle{
	font-style: strong;
}
#sidebar{
	opacity: 0.0;
}

#recent{
	opacity: 0.0;
}

#sidetitle{
	color: black;
	text-align: center;
	font-size: 215%;
}

.tcss{
	color: black;
}

@media screen and (max-width:980px){
	body{
		background-size:cover;
	}
}

@media screen and (max-width:760px){
	body{
		background-size:cover;
	}
}

@media screen and (max-width:640px){
	body{
		background-size:cover;
	}
}